### Quick demo of reading data from MySQL database using Python

Last updated: Jan 31, 2022

**Install package for database API (if the package isn't installed)**

In [10]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.4.31)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (1.1.2)
Note: you may need to restart the kernel to use updated packages.

**Install package for MySQL database connector (if the package isn't installed)**

In [11]:
pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.1.0-cp38-cp38-win_amd64.whl (180 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.0
Note: you may need to restart the kernel to use updated packages.

**Import modules**

In [47]:
import sqlalchemy as db
import pandas as pd

**Fill in these config settings to build the database connection string**

Be sure to update USERNAME, PASSWORD, DB_NAME

In [1]:
DB_TYPE      = 'mysql'
DB_CONNECTOR = 'mysqldb'
USERNAME     = 'your_userid'
PASSWORD     = 'your_password'
HOST         = 'sds-postdb-01.eservices.virginia.edu'
PORT         = '3306' 
DB_NAME      = 'stock_data_test'

In [2]:
db_string = f"{DB_TYPE}+{DB_CONNECTOR}://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DB_NAME}"
db_string

'mysql+mysqldb://your_userid:your_password@sds-postdb-01.eservices.virginia.edu:3306/stock_data_test'

**Connect to the database**

In [69]:
engine = db.create_engine(db_string)

**Query table with SQL, saving into pandas dataframe**

In [72]:
data = pd.read_sql_query('SELECT * FROM stock', engine)

In [73]:
data

  ticker        company_name        last_updated
0   AAPL          Apple Inc. 2022-01-08 13:44:28
1   NVDA  NVIDIA Corporation 2022-01-08 17:53:08